
# operating system
.DS_Store

# package manager
.npmrc
node_modules

# temporary/generated directories
.eslintcache
/packages/*/.tsc_cache
/packages/*/dist

/storybook/storybook-static

/playground/.cache
/playground/static

/website/.cache
/website/public

yarn-error.log

tsconfig.tsbuildinfo
report.*.json
lerna-debug.log
