/packages/*/.tsc_cache
/packages/*/dist
/storybook/storybook-static
/playground/.cache
/playground/dist
/website/.cache
/website/public
/packages/icon/src/glyphs

report.*.json

# some kind of a bug with
/website/src/pages/components/field.mdx
