@import "./common";

@mixin wp-typography-body-size-lg() {
}

@mixin wp-typography-body-size-md() {
  font-size: 16px;
  line-height: 24px;
}

@mixin wp-typography-body-size-sm() {
  font-size: 14px;
  line-height: 20px;
}

@mixin wp-typography-button() {
  color: currentColor;
  font-family: $wp-typography-fontFamily;
  font-weight: normal;
  letter-spacing: 0;
  @include wp-typography-body-size-md();
}
