@import "./common";

@mixin wp-typography-caption() {
  color: currentColor;
  font-family: $wp-typography-fontFamily;
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  letter-spacing: 0;
}
