@import "./common";

@mixin wp-typography-button-size-lg() {
}

@mixin wp-typography-button-size-md() {
  font-size: 14px;
}

@mixin wp-typography-button-size-sm() {
}

@mixin wp-typography-button($size: "md") {
  color: currentColor;
  font-family: $wp-typography-fontFamily;
  font-weight: 550; /* TODO: how do we want to handle semibold? can't really use another font variant since using system fonts?? */
  letter-spacing: 0;
  @include wp-typography-button-size-md();
}
