
@mixin wp-button-size-lg() {
  height: 30px;
  line-height: 28px;
  padding: 0 12px 2px;
}

@mixin wp-button-size-md() {
  height: 28px; 
  line-height: 26px;
  padding: 0 10px 1px;
}

@mixin wp-button-size-sm() {
  height: 24px;
  line-height: 22px;
  padding: 0 8px 1px;
  font-size: 11px;
}
