@import "../../color/index.scss";

$wp-button-color: $wp-color-blue-50 !default;
$wp-button-color-focus: $wp-color-blue-40 !default;

@mixin wp-button-variant-raised {
  border-width: 1px;
  border-style: solid;
}

@mixin wp-button-variant-primary() {
  @include wp-button-variant-raised();
  color: $wp-color-white;
  background-color: $wp-button-color;
  border-color: wp-color-shade($wp-button-color, 20%) wp-color-shade($wp-button-color, 25%) wp-color-shade($wp-button-color, 25%);
  box-shadow: inset 0 -1px 0 wp-color-shade($wp-button-color, 25%);
  text-shadow:
    0 -1px 1px wp-color-shade($wp-button-color, 30%),
    1px 0 1px wp-color-shade($wp-button-color, 30%),
    0 1px 1px wp-color-shade($wp-button-color, 30%),
    -1px 0 1px wp-color-shade($wp-button-color, 30%);

  &:hover:enabled,
  &:focus:enabled {
    color: $wp-color-white;
    background-color: wp-color-shade($wp-button-color, 5%);
    border-color: wp-color-shade($wp-button-color, 50%);
  }

  &:hover:enabled {
    box-shadow: inset 0 -1px 0 wp-color-shade($wp-button-color, 50%);
  }

  &:focus:enabled {
    box-shadow:
      inset 0 -1px 0 wp-color-shade($wp-button-color, 50%),
      0 0 0 1px $wp-color-white,
      0 0 0 3px wp-color-shade($wp-button-color, 50%);
  }

  &:active:enabled {
    background-color: wp-color-shade($wp-button-color, 20%);
    border-color: wp-color-shade($wp-button-color, 50%);
    box-shadow: inset 0 1px 0 wp-color-shade($wp-button-color, 50%);
  }

  &:disabled {
    color: wp-color-tint($wp-button-color, 40%);
    background-color: $wp-button-color;
    border-color: wp-color-shade($wp-button-color, 7%);
    box-shadow: none;
    text-shadow: none;
  }

  &.wp-button--busy,
  &.wp-button--busy:disabled {
    color: $wp-color-white;
    background-size: 100px 100%;
    background-image: linear-gradient(
      -45deg,
      $wp-color-blue-50 28%,
      wp-color-shade($wp-color-blue-50, 30%) 28%,
      wp-color-shade($wp-color-blue-50, 30%) 72%,
      $wp-color-blue-50 72%
    );
    border-color: wp-color-shade($wp-color-blue-50, 50%);
  }
}

@mixin wp-button-variant-secondary() {
  @include wp-button-variant-raised();
  color: #555;
  border-color: #ccc;
  background: #f7f7f7;
  box-shadow: inset 0 -1px 0 #ccc;
  vertical-align: top;

  &:hover:enabled {
    background: #fafafa;
    border-color: #999;
    box-shadow: inset 0 -1px 0 #999;
    color: #23282d;
    text-decoration: none;
  }

  &:focus:enabled {
    background: #fafafa;
    color: #23282d;
    border-color: #999;
    box-shadow: inset 0 -1px 0 #999, 0 0 0 1px $wp-color-white,
      0 0 0 3px $wp-button-color-focus;
    text-decoration: none;
  }

  &:active:enabled {
    background: #eee;
    border-color: #999;
    box-shadow: inset 0 1px 0 #999;
  }

  &:disabled {
    color: #a0a5aa;
    border-color: #ddd;
    background: #f7f7f7;
    box-shadow: none;
    text-shadow: 0 1px 0 #fff;
    transform: none;
  }
}

@mixin wp-button-variant-tertiary() {
  color: $wp-button-color;
  &:hover:enabled {
    color: wp-color-shade($wp-button-color, 25%);
  }
}
